<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="AmbienteTeste.Properties.Settings.qrimobConnectionString"
            connectionString="Data Source=ccstecno.ddns.net;Initial Catalog=QRiMov;Persist Security Info=True;User ID=qrimov;Password=123@biscoito"
            providerName="System.Data.SqlClient" />
      <add name="AmbienteTeste.Properties.Settings.qrimobConnectionString1"
          connectionString="Data Source=ccstecno.ddns.net;Initial Catalog=QRiMov;Persist Security Info=True;User ID=qrimov;Password=123@biscoito"
          providerName="System.Data.SqlClient" />
        <add name="qrimov" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Code\banco.mdf;Integrated Security=True;Connect Timeout=30"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AtendeClienteServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AtendeClienteServiceSoapBinding1" />
                <binding name="WebService1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
                binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
                contract="WSCorreios.AtendeCliente" name="AtendeClientePort" />
            <endpoint address="http://ccstecno.ddns.net:1418/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="TesteWS.WebService1Soap" name="WebService1Soap" />
        </client>
    </system.serviceModel>
</configuration>