<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Correios.CEP.Net" version="1.1.6" targetFramework="net461" />
  <package id="jQuery" version="1.4.4" targetFramework="net461" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net461" />
  <package id="Maoli" version="0.2.2" targetFramework="net461" />
  <package id="Maoli.js" version="0.2.2" targetFramework="net461" />
  <package id="Maoli.Mvc" version="0.2.2.1" targetFramework="net461" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net461" />
</packages>